.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  padding-left: 50%;
  pointer-events: none;
  color: #b3b0b0;
}

;

/* ------------expand nav item -------*/


.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: rgb(180, 75, 75);
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  transition: 0.5s;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #E5E7EB;
}

.topnav #myLinks {
  display: block;
  transition: 0.5s;
}

.topnav a {
  color: black;
  padding: 0 36px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  /* display: block; */
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  transition: 0.1s;
  color: red;

}



/*----------- bottom nav ------------*/
.bottom-nav {
  z-index: +9999999;
}

.bottom-nav button {
  background-color: #2574A9;
  border: 0;
  padding: 10px;
  font-size: 20px;
  color: white;
}

;