/* change copy color */
::-moz-selection { /* Code for Firefox */
	background: #D1FAE5;
	color: black;
  }::selection {
	background: #D1FAE5;
	color: black;
  }
  ::-webkit-scrollbar {
	width: 5px;
  }

  ::-webkit-scrollbar-thumb {
	background: #10B981; 
	border-radius: 10px;
  }
body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
